    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



    /*Background border*/
    #contents  {
        background-color: #ffffff;
        opacity: 1;
        background-image: linear-gradient(0deg, #ffffff 50%, #d5d5d5 50%);
        background-size: 6px 6px;
    }

    /*navigation*/
    #nav {
        background-color: rgb(22, 28, 46);
        height: 50px;
    }

    #nav .navmenu {
        max-width: 1000px;
        margin: 0 auto;
        background-color:rgb(22, 28, 46);
    }

    #nav .navmenu h1{
        width: 250px;
        margin: 0;
        padding: 10px;
        color: white;
        float: left;
    }
    #nav ul{
        list-style-type: none;
        margin: 0;
        float: right;
    }

    #nav ul li{
        width: 100px;
        float: left;
    }

    #nav ul li a{
       display: block;
       padding: 15px;
       text-decoration: none;
       text-align: center;
       color: white;
    }

    #nav ul li a:hover{
        text-decoration: overline;
      }

    .clear{
        clear: both;
    }


    /*About Mobile navi Section*/
    .dropbtn{
        width: 150px;
        background-color: transparent;
        color: white;
        padding-top: 15px;
        padding-bottom: 13px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown{
        position: absolute;
        top: 8px;
        right: 0px;
        padding-bottom: 13px;
        display: inline-block;

    }

    .dropdown button{
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        background-color: #aaaeb8f1;
        width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content ul{
        margin: 0 ;
        padding-bottom: 10px;
    }

      .dropdown-content li{
        list-style: none;  
        }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown:hover .dropbtn {
        background-color: #535772;
      }

    /*Fish Logo*/
    #logo{
        max-width: 1000px; 
        margin: 0 auto;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 5px;

    }
    
    .fishlogo{
        float: left;
        padding-top: 5px;
    }

    .fish1{
        width: 40px;
        padding-left: 15px;
        }

    /*Instagram Facebook Icons*/
    aside{
        float: right;
        padding-top: 5px;
        padding-right: 10px;  
    }

    aside span img{
        padding-left: 3px;
        padding-bottom: 8px;

    }

    /*Main Body*/
    #wrapper {
        max-width: 1000px; 
        margin: 0 auto;
        padding: 0px;
        text-align: center;
        background-color: white;
    } 

    .mainimg{
        max-width: 980px;
        border-radius: 10px;
    } 

    /*About Bonchi Section*/

    h2{
        margin-top: 50px;
    }


    article{
        margin: 15px;
    }


    .aboutimg{
        max-width: 700px;
        border-radius: 10px;
    }

    /*Food Section*/
    #food{
        height: 100%;
        padding: 20px;
    }

    .foodcontent img{
        border-radius: 50%;
    }

    .foodcontent{
        display: grid;
        /*
        grid-template-columns: auto auto auto;
        */
        grid-template-areas:"fooditem1 fooditem2 fooditem3";
        padding: 10px;
    }

    .foodcontent{
        text-align: center;
    }

    .fooditem1{
        padding: 10px;
        grid-area: fooditem1;
      }

    .fooditem2{
        padding: 10px;
        grid-area: fooditem2;
    }

    .fooditem3{
        padding: 10px;
        grid-area: fooditem3;
    }


    /*Toys Section*/

    #toys{
        height: 100%;
        padding: 20px;
    }

    .toyscontent img{
        border-radius: 5px;
    }
    
    .toyscontent{
        display: grid;
        /*
        grid-template-columns: auto auto auto;*/
        grid-template-areas: "toysitem1 toysitem2 toysitem3";
        
    }

    .toysitem1{
        padding: 20px;
        margin: 5px;
        grid-area: toysitem1;
      }

    .toysitem2{
        padding: 20px;
        margin: 5px;
        grid-area: toysitem2;
    }

    .toysitem3{
        padding: 20px;
        margin: 5px;
        grid-area: toysitem3;
    }

    /*Footer Section*/

    footer{
    background-color: rgb(22, 28, 46);
    height: 50px;
    text-align: center;
    }         

    footer p{
        color: white;
        margin: 0;
        padding: 10px;
    }


    /*Media Query*/

    @media only screen and (min-width:1024px) 
    /* For PC */{
        .dropdown{
            display: none;
        }
    }

    @media only screen and (max-width:1024px) 
    /* For Tablets */{
        body{
            width: 100%;
        }
        #wrapper img {
            width: 100%;
        }

        .navmenu ul{
            display: none;
        }

        .fish2 {
            display: none;
        }
        .fish3 {
            display: none;
        }
        #logo {
            width: 100%;
        }

        #about img{
            width: 100%;
        }

        /*
        .foodcontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-area: 
            "fooditem1"
            "fooditem2"
            "fooditem3";
        }*/

        .foodcontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "fooditem1"
            "fooditem2"
            "fooditem3";
        }

        .foodcontent img{
            max-width: 50%;
        }
        

        .toyscontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "toysitem1"
            "toysitem2"
            "toysitem3";
        }

        .toyscontent img{
            max-width: 50%;
        }

    }



    @media only screen and (max-width:600px) 
    /* For Mobile devices */{
        body{
            width: 100%;
        }
        #wrapper img {
            width: 100%;
        }

        .navmenu ul{
            display: none;
        }

        .fish2 {
            display: none;
        }
        .fish3 {
            display: none;
        }
        #logo{
            width: 100%;
        }

        #about img{
            width: 100%;
        }

        .foodcontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "fooditem1"
            "fooditem2"
            "fooditem3";
        }

        .foodcontent img{
            max-width: 70%;
        }
        
        .toyscontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "toysitem1"
            "toysitem2"
            "toysitem3";
        }

        .toyscontent img{
            max-width: 70%;
        }

    }
