    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



    /*Background border*/
    #contents  {
        background-color: #ffffff;
        opacity: 1;
        background-image: linear-gradient(0deg, #ffffff 50%, #d5d5d5 50%);
        background-size: 6px 6px;
    }

    /*navigation*/
    #nav {
        background-color: rgb(22, 28, 46);
        height: 50px;
    }

    #nav .navmenu {
        max-width: 1000px;
        margin: 0 auto;
        background-color:rgb(22, 28, 46);
    }

    #nav .navmenu h1{
        width: 250px;
        margin: 0;
        padding: 10px;
        color: white;
        float: left;
    }
    #nav ul{
        list-style-type: none;
        margin: 0;
        float: right;
    }

    #nav ul li{
        width: 100px;
        float: left;
    }

    #nav ul li a{
       display: block;
       padding: 15px;
       text-decoration: none;
       text-align: center;
       color: white;
    }

    #nav ul li a:hover{
        text-decoration: overline;
      }

    .clear{
        clear: both;
    }


    /*About Mobile navi Section*/

    .mv-menubox{
        position: absolute;
        top: 22px;
        right: 3px;
    }
    input{
        display: none;
    }

    .line{
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 3px;        
    }

    .mvcontent{
        background-color: rgba(74, 76, 109, 0.9);
        width: 150px;
        height: 220px;
        position: fixed;
        transform: translateX(50px);
    }

    input:checked ~ .mvcontent{
        transform: translateX(-135px);
    }

    .mobile-navmenu ul{
        list-style: none;
        
    }

    .mobile-navmenu ul li{
        padding: 8px;
    }

    .mobile-navmenu ul a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }


    /*Fish Logo*/
    #logo{
        max-width: 1000px; 
        margin: 0 auto;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 5px;

    }
    
    .fishlogo{
        float: left;
        padding-top: 5px;
    }

    .fish1{
        width: 40px;
        padding-left: 15px;
        }

    /*Instagram Facebook Icons*/
    aside{
        float: right;
        padding-top: 5px;
        padding-right: 10px;  
    }

    aside span img{
        padding-left: 3px;
        padding-bottom: 8px;

    }

    /*Main Body*/
    #wrapper {
        max-width: 1000px; 
        margin: 0 auto;
        padding: 0px;
        text-align: center;
        background-color: white;
    } 

    .mainimg{
        max-width: 980px;
        border-radius: 10px;
    } 

    /*About Bonchi Section*/

    h2{
        margin-top: 50px;
    }


    article{
        margin: 15px;
    }


    .aboutimg{
        max-width: 700px;
        border-radius: 10px;
    }

    /*Food Section*/
    #food{
        height: 100%;
        padding: 20px;
    }

    .foodcontent img{
        border-radius: 50%;
    }

    .foodcontent{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .foodcontent{
        text-align: center;
    }

    .fooditem1{
        padding: 10px;
      }

    .fooditem2{
        padding: 10px;
    }

    .fooditem3{
        padding: 10px;
    }


    /*Toys Section*/

    #toys{
        height: 100%;
        padding: 20px;
    }

    .toyscontent img{
        border-radius: 5px;
    }
    
    .toyscontent{
        display: grid;
        grid-template-columns: auto auto auto;
        
    }


    /*Footer Section*/

    footer{
    background-color: rgb(22, 28, 46);
    height: 50px;
    text-align: center;
    }         

    footer p{
        color: white;
        margin: 0;
        padding: 10px;
    }


    /*Media Query*/

    @media only screen and (min-width:1024px) 
    /* For PC */{
        .mv-menubox{
            display: none;
        }
    }

    @media only screen and (max-width:1024px) 
    /* For Tablets */{
        body{
            width: 100%;
        }
        #wrapper img {
            width: 100%;
        }

        .navmenu ul{
            display: none;
        }

        .fish2 {
            display: none;
        }
        .fish3 {
            display: none;
        }
        #logo {
            width: 100%;
        }

        #about img{
            width: 100%;
        }

        .foodcontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-area: 
            "fooditem1"
            "fooditem2"
            "fooditem3";
        }

        .foodcontent img{
            max-width: 50%;
        }
        
        .toyscontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-area: 
            "toyitem1"
            "toyitem2"
            "toyitem3";
        }

        .toyscontent img{
            max-width: 50%;
        }

    }



    @media only screen and (max-width:600px) 
    /* For Mobile devices */{
        body{
            width: 100%;
        }
        #wrapper img {
            width: 100%;
        }

        .navmenu ul{
            display: none;
        }

        .fish2 {
            display: none;
        }
        .fish3 {
            display: none;
        }
        #logo{
            width: 100%;
        }

        #about img{
            width: 100%;
        }

        .foodcontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-area: 
            "fooditem1"
            "fooditem2"
            "fooditem3";
        }

        .foodcontent img{
            max-width: 70%;
        }
        
        .toyscontent{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-area: 
            "toyitem1"
            "toyitem2"
            "toyitem3";
        }

        .toyscontent img{
            max-width: 70%;
        }

    }
